<div class="container relative">
  <div class="absolute inset-0 z-0">
    <div class="absolute inset-0 bg-pink/50"></div>
  </div>
  <div class="relative z-10">
      <div class="py-16 mx-auto max-w-lg text-center">
        <h2 class="mb-5 text-4xl font-bold md:mb-6 md:text-5xl lg:text-6xl">
          Let’s Connect and Collaborate!
        </h2>
        <p class="mb-3 md:text-lg">
          Looking to build or enhance your online presence? Let's discuss how I can help you achieve your goals.
        </p>
        <div class="mt-6 flex flex-wrap items-center justify-center gap-4 md:mt-8">
           <a href="mailto:kim.griggs@gmail.com" class="text-violet-950 hover:bg-violet-950 hover:text-white border border-violet-950 shadow-lg shadow-violet-950/50 font-semibold font-medium text-center focus-visible:ring-2 focus-visible:outline-none focus-visible:ring-violet-300 px-5 py-2.5 mb-3 px-6 py-3 hover:-translate-y-1 hover:scale-110">
          Email Me!</a>
        </div>
    </div>
  </div>
</div>
