
<div class="container relative z-10 max-w-lg text-center">
  <h2
    class="rb-5 mb-5 text-5xl font-bold mb-3 md:mb-6 md:text-7xl lg:text-8xl"
  >
    Let’s Connect and Collaborate!
  </h2>
  <p class="mb-3 md:text-md">
    Are you seeking assistance with UX research, UI design, or any aspect of web development?
    Let&#x27;s connect!
  </p>
  <div class="mt-6 flex flex-wrap items-center justify-center gap-4 md:mt-8">
    <button
      class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary bg-background-alternative mb-3 px-6 py-3"
      title="Contact"
    >
      Contact Me</button
    >
  </div>
</div>
<div class="absolute inset-0 z-0">
  <img
    src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image.svg"
    class="size-full object-cover"
    alt="Relume placeholder image"
  />
  <div class="absolute inset-0 bg-black/50"></div>
</div>
