
  <div class="container">
    <div class="mb-12 md:mb-18 lg:mb-20">
      <div class="mx-auto max-w-lg text-center">
        <p class="mb-3 font-semibold md:mb-4">Skills</p>
        <h2 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
          I&#x27;m an Expert
        </h2>
        <p class="md:text-md">
          For two decades, I've been dedicated to transforming client ideas into innovative user experiences. I guide projects from initial strategy to the successful launch of high-impact products and services. My key areas of expertise include:
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-6 md:gap-8 lg:grid-cols-2">
      <div class="grid grid-cols-1 gap-8">
        <div
          class="relative text-pink-950 flex flex-col justify-center p-6 sm:min-h-[32rem] md:p-8 lg:p-12"
        >
          <div class="absolute inset-0 z-0">
            <div class="absolute inset-0 bg-pink-300"></div>
          </div>
          <div class="relative z-10">
            <h2
              class="mb-5 text-4xl font-bold leading-[1.2] mb-3 md:mb-6 md:text-5xl lg:text-6xl"
            >
              User Experiance (UX) Research
            </h2>
            <p class="mb-3">
             I uncover deep user understanding through research, delivering actionable insights for user-centered design. I develop content models, user flows, and mockups, validating designs with usability testing and providing detailed reports. Let's collaborate to build products users love.
            </p>
            <p class="font-bold">Example Deliverables</p>
            <ul class="list-disc list-inside">
              <li>User Research Plan & Protocols</li>
              <li>User Research Reports with Recommendations</li>
              <li>Content Models & User Flows</li>
              <li>Mockups & Wireframes</li>
            </ul>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
          <div class="relative text-yellow-950 flex flex-col p-6 md:p-8 lg:p-6">
            <div class="absolute inset-0 z-0">
              <div class="absolute inset-0 bg-yellow-300"></div>
            </div>
            <div class="relative z-10 flex flex-1 flex-col justify-between">
              <div>
                <h3
                  class="mb-2 text-xl font-bold mb-3 md:text-2xl"
                >
                  Agile Project Management
                </h3>
                <p class="mb-3">
                 I deliver high-value projects through agile methodologies, including sprint planning, stand-ups, and retrospectives. I ensure on-time, on-budget delivery through close collaboration and maintain clear documentation for effective communication. Let's partner to achieve your project goals.
                </p>
                <p class="font-bold">Example Deliverables</p>
                <ul class="list-disc list-inside">
                  <li>Sprint & Ticket Management</li>
                  <li>User Stories & Acceptance Criteria</li>
                  <li>Release Roadmap</li>
                  <li>Code Review Coordination</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="relative text-teal-950 flex flex-col p-6 md:p-8 lg:p-6">
            <div class="absolute inset-0 z-0">
              <div class="absolute inset-0 bg-teal-400"></div>
              
            </div>
            <div class="relative z-10 flex flex-1 flex-col justify-between">
              <div>
                <h3
                  class="mb-2 text-xl font-bold mb-3 md:text-2xl"
                >
                  Accessibility Expert
                </h3>
                <p class="mb-3">
                  I ensure inclusive web experiences through the rigorous implementation of WCAG standards, thorough audits, and assistive technology testing. I provide training and develop policies to foster a culture of accessibility. Let's work together to build an accessible product that empowers all users.
                </p>
                <p class="font-bold">Example Deliverables</p>
                <ul class="list-disc list-inside">
                  <li>Accessibility Audit Reports</li>
                  <li>Compliance Documentation</li>
                  <li>Remediation Plan</li>
                  <li>Training Materials</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-8">
        <div class="relative text-lime-950 flex flex-col p-6 md:p-8 lg:p-12">
          <div class="absolute inset-0 z-0">
            <div class="absolute inset-0 bg-lime-300"></div>
            
          </div>
          <div class="relative z-10">
            <h3
              class="mb-5 text-4xl font-bold leading-[1.2] mb-3 md:mb-6 md:text-5xl lg:text-6xl"
            >
              User Interface (UI) Design
            </h3>
            <p class="mb-3">
          I design accessible and inclusive user interfaces, creating seamless digital experiences. I develop comprehensive design systems, style guides, and interaction guidelines, ensuring consistency and intuitive interfaces. I utilize rapid prototyping, from wireframes to interactive models, to validate designs and gather feedback, delivering polished visual assets and detailed design rationale. Let's join forces to craft remarkable user interfaces together.
            </p>
            <p class="font-bold">Example Deliverables</p>
             <ul class="list-disc list-inside">
                <li>Interactive Prototypes</li>
                <li>Style Guides & Design Systems</li>
                <li>Visual Assets & Specifications</li>
                <li>Design Rationale Documentation</li>
              </ul>
          </div>
        </div>
        <div
          class="relative text-sky-950 flex flex-col justify-center p-6 sm:min-h-[32rem] md:p-8 lg:p-12"
        >
          <div class="absolute inset-0 z-0">
            <div class="absolute inset-0 bg-sky-400"></div>
          </div>
          <div class="relative z-10">
            <h2
              class="mb-5 text-4xl font-bold leading-[1.2] mb-3 md:mb-6 md:text-5xl lg:text-6xl"
            >
              Full-Stack Web Development
            </h2>
            <p class="mb-3">
             I craft end-to-end full-stack web applications, leveraging HTML, CSS, PHP, Laravel, Drupal, and modern JavaScript frameworks. This includes building secure databases and APIs, automating deployment, and providing comprehensive support. You can trust me to deliver your project on time and within budget. Let's partner to create a personalized online presence that meets your exact needs.
            </p>
            <p class="font-bold">Example Deliverables</p>
            <ul class="list-disc list-inside">
                <li>Scalable Front-end & Server-side Code</li>
                <li>Database Schema & Data Models</li>
                <li>API & Technical Documentation</li>
                <li>Deployment Scripts & Configuration</li>
                <li>Hosting, Maintenance & Support Plans</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>